@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Roboto+Slab:wght@100;300&family=Sacramento&display=swap');

@font-face {
	font-family: 'Playfair Display SC', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Sacramento', cursive;
}

body {    
	font-family: var(--text-body);
    font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--text-display);
}

