
.footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    background-color: var(--backgroundGeneral);
    padding-top:20px;
 }
 .about-contact{
    width:50%;
    color:white;
    display:inline-flex;
    position:relative;
 }
 .redSociales{
    width:50%;
    color:white;
 }
