.home{
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagen-home{
    margin-left: 15%;
    width:50%;
    padding-top: 150px;
    float:left;
}
.text-home{
    color:white;
    width:50%;
    padding-top: 10%;
    float:right;
}
h1,p{
    color:white;
    font-family: var(--text-body);
}
.cercles {
    position: relative;
}
.cercle {
    position: absolute;
    top: -150px;
    left: 80px;
    height: 80px;
    width: 80px;
    background-color: var(--cercle-1);
    border-radius: 50%;
    z-index: -1;
}

/* Discover*/
.text-discover{
    margin-left: 15%;

    padding-top: 150px;
    float:left;
}
.imagen-discover{
    width:50%;
    float:right;
    padding-top: 100px;
}

/* FOOTER*/
.footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    background-color: var(--backgroundGeneral);
    padding-top:20px;
 }
 .about-contact{
    width:50%;
    color:white;
    display:inline-flex;
    position:relative;
 }
 .redSociales{
    width:50%;
    color:white;
 }
 

