:root {

    /* colores  */    
    --backgroundGeneral:#2f303a;
    /*--accentText: #2796ff;acho que esta definida errado*/
    --buttonFocus: #2796ff;
    --buttonHover:#2180d8;
    --buttonBck:#1762A7;
    
    /* Components oscuros */
    --header: #202027;
    --footer:  #202027;
    --icons:  #202027;

    /* Components gris */
    /*--navHover: #202027; acho que esta definida errado*/
    --borderInput: #2E3852;
    --borderInputFocus: #596da0;

    /*circulos*/
    --circle1: #bc3a801a;
    --circle2: #3457b21a;
    --circle3: #3457b21a;
  
    /* fuentes */
    --text-display: 'Playfair Display SC', serif;
    --text-body:  'Roboto Slab', serif;
}
    